// COLORS
$color-primary: #2989d8;
$color-primary-light: #7db9e8;
$color-primary-dark: #1e5799;

$color-secondary-light: #f199b3;
$color-secondary-dark: #dd1f58;

$color-tertiary-light: #9dd2b3;
$color-tertiary-dark: #4aa16e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
